{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnitedHands</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<div class="bg-light py-3 px-5 d-flex">
		<a class="text-decoration-none" href="{% url 'home' %}"><h4 class="mx-2 mx-lg-3 text-success">UnitedHands</h4></a>
		<div class="d-flex ms-auto me-3">
		  <a class="text-decoration-none text-primary  " href="{% url 'home' %}"><h5>Home</h5></a>
		  <a class="text-decoration-none text-primary  ms-4" href="{% url 'payment' %}"><h5>Donate</h5></a>
		</div>
	</div>
	<div class="container">

		<div class="text-center">
			<h1 class="text-success my-4">Welcome to UnitedHands - where every hand counts!</h1>
			<h5 class="text-dark my-3 text-center mx-auto w-75">Every act of kindness matters, and your donation can spark a chain reaction of positive change. Your generosity has the power to bring hope, healing, and happiness to those facing adversity.</h5>
			<h5 class="text-secondary text-center mx-auto my-3 w-50">Donate now and be a part of our united efforts in creating a better future for all. Thank you for being with us!</h5>
		</div>

    	<div class="text-center">
			<a class="btn btn-success btn-lg text-white mt-3 mb-5" href="{% url 'payment' %}">Make Donation</a>
		</div>
		<div>
			<h3>Payment History</h3>
			<div class="table-responsive">
				<table id="data_table" class="table ">
				<thead>
				  <tr>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Amount</th>
				  </tr>
				</thead>
				<tbody>
				{% for payment in payments %}
				  <tr>
					<td>{{payment.payer_name}}</td>
					<td>{{payment.payer_email}}</td>
					<td>${{payment.amount}}</td>
				  </tr>
				{% endfor %}

				</tbody>
			  </table>
			
			
		
			</div>
		</div>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
        $(document).ready(function () {
			$('#data_table').DataTable();
		});
    </script>
</body>
</html>